table.repo-table {
  table-layout: fixed;
}

table.repo-table th:first-child,
table.repo-table td:first-child {
  width: 9.5rem;
  vertical-align: top;
}

table.repo-table td:first-child .md-button {
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  text-align: center;
  padding: 0.4rem 0.5rem;
}
